<a href="https://colab.research.google.com/github/shubhekkumar/python-programming/blob/main/Training_Day_2_28_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=33
y = 'some'
print("I'm going to inject %d text ,%s text."%(x,y))

I'm going to inject 33 text ,some text.

In [ ]:
player = 'sam'
points = 45
'Last night '+ player +' scored '+ str(points) + ' points'

'Last night sam scored 45 points'

In [ ]:
# %s and %r changes any value to string
print('He is so smart and %s . ' %'INTELLIGENT')
print('He is ugly and %r . ' %'BAD')

He is so smart and INTELLIGENT .
He is ugly and 'BAD' .

In [ ]:
print('I once caught a fish %s.' %'this \t big')
print('I once caught a fish %r.' %'this big')

I once caught a fish this 	 big.
I once caught a fish 'this big'.

In [ ]:
print('I wrote %s programs Today.' %100.25)
print('I wrote %d programs Today.' %100.25)
print('I wrote %r programs Today.' %100.25)

I wrote 100.25 programs Today.
I wrote 100 programs Today.
I wrote 100.25 programs Today.

In [ ]:
print('Floating point numbers : %5.2f' % (13.144))
print('Floating point numbers : %1.0f' % (13.144))
print('Floating point numbers : %1.5f' % (13.144))
print('Floating point numbers : %5.9f' % (13.144)) #After 5.9999 white spaces will be included
print('Floating point numbers : %6.1f' % (13.144))
print('Floating point numbers : %8.2f'% (13.144))

Floating point numbers : 13.14
Floating point numbers : 13
Floating point numbers : 13.14400
Floating point numbers : 13.144000000
Floating point numbers :   13.1
Floating point numbers :    13.14

In [ ]:
# Multiple formating
print('first %s , Second : %5.2f,Third:%r' %('Hi!',3.14241,'Bye!'))

first Hi! , Second :  3.14,Third:'Bye!'

In [ ]:
# .format() method :- used to format object into string for print statement is with string.format()
print('This is string with an {}'.format('insert'))
# Inserted object can be called by index position
print("The {1} {2} {0} {3}" .format('fox','quick','brown','jumps'))
print("The {1} {2} {0} {4} {3} {5}" .format('fox',23,'brown',5.562,'jumps','feet'))

This is string with an insert
The quick brown fox jumps
The 23 brown fox jumps 5.562 feet

In [ ]:
#inserted object can be assigned keywoard
print('First Object :{a} Second Object :{b} Third Object :{c} '.format(a= 1, b = 'Two' , c = 203.25))
#inserted object can be reused avoiding duplication
print('A %s saved is a %s earned' %('penny' , 'penny'))
#vs
print('A {p} saved is a {p} earned' .format(p ='penny'))

First Object :1 Second Object :Two Third Object :203.25
A penny saved is a penny earned
A penny saved is a penny earned

In [ ]:
#Allignment padding and precision with format
print('{0:8} | {1:9}'.format('fruits','Quantity'))
print('{0:8} | {1:9}'.format('Apple', 3.))
print('{0:8} | {1:9}'.format('Orange', 10))

fruits   | Quantity
Apple    |       3.0
Orange   |        10

In [ ]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))
print('{0:<8} | {1:^8} | {2:>8}'.format(100.0,200.50,300.560))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33
100.0    |  200.5   |   300.56

In [ ]:
print('This is ten character 2 decimal number : %10.2f'%13.679)
print('This is ten character 2 decimal number : {0:10.2f}'.format(13.679))
print('This is ten character 2 decimal number : {0:10.0f}'.format(13.679))

This is ten character 2 decimal number :      13.68
This is ten character 2 decimal number :      13.68
This is ten character 2 decimal number :         14